<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style="margin-bottom: 20px">
    <label>Name</label>
    <%= form.text_field :name%>
    <label>Skill</label>
    <%= form.select(:skill, Skill.all.map{|s| [s.name, s.id]})%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
